body {
  background-color: #F0F1F2;
}

body.sidebar {
  background-color: #cfeef8;
}

div.header {
  background-color: #2A94D6;
  color: #F0F1F2;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  text-align: center;
}

body.ng-scope div ul {
  padding: 0px;
  margin: 0px;
}

.feed-cell {
  padding: 5px;
  border-bottom: 1px solid #344A5F;
  text-decoration: none;
}

.feed-title {
  font-weight: bold;
  font-size: 14px;
}

.feed-subtitle {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
}

li.High {
  background-color: #CF5C60;
}

li.Medium {
  background-color: #F3AE4E;
}

li.Low {
  background-color: #F0F1F2;
}

/* http://docs.angularjs.org/guide/animations */

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}
 
/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}
 
/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}
 
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}